<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" href="http://naah.eqqhr.com/layui/css/layui.css" />
<style type="text/css">
#CountDown{
	font-size: 25px;
}
</style>

</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
  <legend>游戏设置开始时间：</legend>
</fieldset>
<div class="layui-inline">
    <label class="layui-form-label">开始时间：</label>
    <div class="layui-input-inline">
      <input type="text" class="layui-input" id="gameStarTime" placeholder="yyyy-MM-dd hh:mm:ss" />
    </div>
    <button type="button" class="layui-btn" id="dumpData">确定</button>
    <button type="button" class="layui-btn" id="clearData">清除</button>
</div>
<div class="layui-inline">
    <label class="layui-form-label">间隔时间：</label>
    <div class="layui-input-inline">
      <input type="text" class="layui-input" id="gameMiao" lay-verify="required|phone|number" placeholder="请输入间隔时间" />
    </div>
    <button type="button" class="layui-btn" id="btnGameMiao">确定</button>

</div>

<table class="layui-table" id="loadFile" lay-filter="loadFile">
      <thead>
        <tr>
	        <th>开始时间</th>
	        <th>每个问题间隔时间</th>
        </tr>
      </thead>
      <tbody id="demoList"></tbody>
    </table>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
  <legend>倒计时</legend>
</fieldset>
<blockquote class="layui-elem-quote" style="margin-top: 10px;">
	<div id="CountDown" ></div>
</blockquote>
</body>
<script type="text/javascript" src="http://naah.eqqhr.com/layui/layui.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<script type="text/javascript" src="http://naah.eqqhr.com/TimeChang.js"></script>
</html>